/*font links*/
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

/*common start*/
body{
	margin: 0;
	font-family: "Playfair Display", serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262;

}
/*common end*/
/*header start*/
header{
	padding: 30px 0;
 /*	border: 1px solid;*/
 }
 	
.container{
	overflow: hidden;
	width: 90%;
	margin: 0 auto;
	/*border: 1px solid;*/
}
.logo{
	margin-top: 13px;
	width: 13%;
	float: left;
	/*border: 1px solid;*/

}

.logo a img{
	width: 100%;
}
.menu{
	float: right;
	width: 60%;
	/*border: 1px solid;*/
}
.menu ul{
	float: right;
	list-style: none;
}
.menu ul li{
	float: left;
}
.menu ul li a{
	text-decoration: none;
	text-transform: uppercase;
	margin: 0 55px;
	color: #626262;
	border-bottom: 1px solid transparent;
	transition: .33s linear;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li:hover a{
	border-bottom: 1px solid #000000;
}
/*header end*/

/*banner start*/
.section{}
.b_img{}
.b_img img{
	width: 100%;
}
/*banner end*/
/*getaway start*/
.getaway{
	padding: 100px 0 30px;
}
.container2{
	margin: 0 auto;
	width: 80%;
}
.g_content{}
.light{

}

.text{
	margin: 0;
	line-height: 24px;
}
.g_link{
	margin-top: 40px;
	display: block;
	margin-bottom: 0;
	text-decoration: none;
	color: #626262;
}

/*getaway end*/
/*blog start*/
.blog{
	padding: 0 0 100px;
}
.bl_content{
	overflow: hidden;
}
.bl_item{
	margin-top: 70px;
	float: left;
	width: 45%;
	/*border: 1px solid;*/
	box-sizing: border-box;
}
.bl_item:nth-child(even){
	margin-left: 6%;
}
.bl_img{
	margin-bottom: 20px;
}
.bl_img img{
	width: 100%;
}
.light{}


/*blog end*/

/*newsletter start*/
.newsletter{
	background-color: #f0f0f0;
	padding: 70px 0;
}
.singup{
	text-align: center;
}
.s_h1{
	color: #333333;
	margin-top: 0;
	margin-bottom: 70px;
}
.s_form{
	position: relative;
	width: 400px;
	margin: 0 auto;
	/*border: 1px solid;*/

}
.s_form input{
	font-family: "Playfair Display", serif;
	font-size: 14px;
	width: 345px;
	height: 45px;
	border: none;
	padding-left: 5px;
	padding-right: 45px;
	border-bottom: 1px solid #000000;
	background-color: transparent;

}
.s_form input:focus{
	outline: 0;
}
.s_form button{
	position: absolute;
	border: none;
	cursor: pointer;
	top: 15px;
	right: 0;
	background: transparent;
}
.s_form button:focus{
	outline: 0;
}

/*newsletter end*/

/*blog2 start*/
.blog2{}
.load{
	margin: 150px 0 50px;
	text-align: center;
}
.load button{
	font-family: "Playfair Display", serif;
	font-weight: 400;
	width: 165px;
	height: 60px;
	border: 1px solid #626262;
	font-size: 20px;
	background-color: white;
	color: #626262;
	transition: .33s linear;
}
.load button:hover{
	background-color: #626262;
	color: white;
}


/*blog2 end*/
/*fotter start*/
footer{
	padding: 20px 0;
	background-color: #f0f0f0;
}
.pages{
	width: 38%;
	float: left;
}
.pages ul{
	padding: 0;
	float: right;
}
.pages ul li, .social ul li{
	list-style: none;
	float: left;
}

.social{
	width: 36%;
	float: right;
}
.social ul{
	float: right;
}
.social ul li span {
	margin-right: 20px;
	color: #000000;
}
.pages ul li a,.social ul li a{
	color: #000000;
	text-decoration: none;
	margin-right: 17px;
	display: inline-block;
	border-bottom: 1px solid transparent;
	transition: .33s linear;
}
.pages ul li a , .social ul li a img{
	width: 100%;
}
.socil ul li:last-child a{
	margin-right: 0;
}

.social ul li:hover a{
	border-bottom: 1px solid #626262;






/*fotter end*/